* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

*:focus {
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;

    font-family: 'Lato', sans-serif;
    color: #333333;
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.alert {
    width: 700px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 30px;
    left: 50%;
    margin-left: -350px;
    z-index: 999;

    color: #FFFFFF;
    font-weight: bold;
    border-radius: 15px;
    padding: 0 20px;
    opacity: 0.8;
}

.alert.alert-error {
    background-color: #FF3B3B;
}


.alert.alert-success {
    background-color: #4a8700;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    margin-bottom: 50px;
    z-index: 10;

    background-color: #333333;
    box-shadow: 0px 5px 10px 10px #333333;
}

header .logo {
    position: absolute;
    top: 30px;
    left: 50px;
}

header .user-container {
    display: flex;
    align-items: center;
    height: 60px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 20px;
    margin-top: -30px;

    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

header .user-container .money {
    display: inline-block;
    text-align: center;
    padding-right: 30px;

    border-right: 1px solid #777777;
}

header .user-container .money span {
    color: #FFDC00;
    font-size: 36px;
}

header .user-container .avatar {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 30px;

    border-radius: 30px;
    overflow: hidden;
}

header .user-container .avatar img {
    width: 100%;
}

nav {
    display: inline-block;
    position: fixed;
    top: 150px;
    width: 300px;
    height: calc(100% - 200px);
    vertical-align: top;

    border-right: 1px solid #CCCCCC;
    font-size: 24px;
}

nav .nav-arrow {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15px;

    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;

    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

nav ul {
    padding: 50px 50px 0;
}

nav ul li {
    height: 60px;
    line-height: 60px;
}

nav ul li a {
    position: relative;
    color: #333333;
    padding-left: 50px;
}

nav ul li a.active {
    color: #FFAE00;
}

nav ul li a:before {
    position: absolute;
    top: -10px;
    left: -10px;
}

nav ul li a.bebidas:before { content: url(../images/icone-bebidas.png); }
nav ul li a.doces:before { content: url(../images/icone-doces.png); }
nav ul li a.naturebas:before { content: url(../images/icone-naturebas.png); }
nav ul li a.salgados:before { content: url(../images/icone-salgados.png); }

nav ul li a.bebidas.active:before { content: url(../images/icone-bebidas-ativo.png); }
nav ul li a.doces.active:before { content: url(../images/icone-doces-ativo.png); }
nav ul li a.naturebas.active:before { content: url(../images/icone-naturebas-ativo.png); }
nav ul li a.salgados.active:before { content: url(../images/icone-salgados-ativo.png); }

nav ul li a.add-product {
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding-left: 0;

    font-size: 16px;
    font-weight: bold;
    color: #67D1E4;
    border: 2px solid #67D1E4;
    border-radius: 20px;

    -webkit-transition: color .5s, background-color .5s;
    transition: color .5s, background-color .5s;
}

nav ul li a.add-product.active, nav ul li a.add-product:hover {
    background-color: #67D1E4;
    color: #FFFFFF;
}

main {
    display: inline-block;
    width: calc(100% - 450px);
    /*height: 100%;*/
    text-align: center;
    position: relative;
    margin: 150px 100px 0 300px;
    box-sizing: border-box;
}

main ul.products {
    margin-top: 50px;
}

main ul.products li {
    display: inline-block;
    width: 300px;
    height: 250px;
    text-align: center;
    overflow: auto;
    margin-bottom: 50px;

    color: #777777;
}

main ul.products li  {
    display: inline-block;
    margin: 0 auto 20px;
}

main ul.products li a {
    display: block;
    position: relative;

    margin-bottom: 20px;
}

main ul.products li a img.product-image {
    height: 105px;
}

main ul.products li a .add-to-cart {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -90px;
    z-index: 9;

    opacity: 0;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

main ul.products li a:hover .add-to-cart {
    opacity: 1;
}

main ul.products li a .add-to-cart .icon-cart {
    width: 30px;
}

main ul.products li .product-price {
    font-weight: bold;
}

main ul.products li .product-price span {
    color: #67D1E4;
    font-size: 32px;
}

main ul.products li .product-quantity span {
    color: #89E215;
    font-size: 18px;
    font-weight: bold;
}

main .form-credit, main .form-product {
    width: 250px;
    margin: 0 auto;

    color: #888888;
    font-size: 18px;
}

main .form-credit ul li, main .form-product ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
}
main .form-credit ul li input,
main .form-credit ul li select,
main .form-product ul li input, 
main .form-product ul li select {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: left;
    margin-top: 5px;
    padding: 0 15px;
    box-sizing: border-box;

    color: #888888;
    border: 1px solid #888888;
    border-radius: 19px;
}

main .form-credit ul li.product-image,
main .form-product ul li.product-image {
    display: inline-block;
    width: 100%;
    height: 200px;
    text-align: center;
    margin-bottom: 20px;

    color: #AAAAAA;
    background-color: #EEEEEE;
    border: 1px dashed #CCCCCC;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
}

main .form-credit ul li.product-image > div,
main .form-product ul li.product-image > div {
    height: 100%;
}

main .form-product ul li.product-image .add-image {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .form-product ul li.product-image .icon-camera {
    margin: 0 auto 10px;
}

main .form-product ul li.product-image .new-image {
    display: none;
    width: 100%;
    /* TODO: ALINHAR VERTICALMENTE  */
    height: 200px;
    line-height: 200px;
}

main .form-product ul li.product-image .new-image img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

main .form-credit ul li.credit-user,
main .form-product ul li.product-description {
    display: block;
}

main .form-credit ul li.credit-value label,
main .form-product ul li.product-price label {
    font-weight: bold;
}

main .form-product ul li.product-category select {
    width: 140px;
}

main .form-credit ul li.credit-value input,
main .form-product ul li.product-price input,
main .form-product ul li.product-quantity input {
    width: 80px;
}

main .form-credit .btn-confirm,
main .form-product .btn-confirm {
    display: inline-block;
    width: 100%;
    height: 36px;
    margin-top: 36px;

    font-size: 14px;
    background: none;
    color: #2BB035;
    border: 1px solid #2BB035;
    border-radius: 19px;
}

main .form-credit .btn-confirm:hover,
main .form-product .btn-confirm:hover {
    color: #FFFFFF;
    background-color: #2BB035;
    cursor: pointer;
}

main .cart {
    position: fixed;
    width: 200px;
    top: 150px;
    right: 30px;
    text-align: center;
    padding: 20px 0;

    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
}

main .cart .product-item,
main .cart .total {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

main .cart .product-item {
    cursor: pointer;
}

main .cart .product-item .description {
    max-width: 130px;
    text-align: right;
}

main .cart .product-item .quantity b {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

main .cart .product-item .quantity b:first-child {
    margin-right: 10px;
}

main .cart .product-item .quantity b:last-child {
    margin-left: 10px;
}

main .cart .total {
    margin: 20px 0 10px;
    color: #89E215;
}

main .cart .total.value-alert {
    color: #FF3B3B;
}

main .cart li .finalize,
main .cart li .cancel {
    display: block;
    text-align: center;
    width: 170px;
    height: 24px;
    line-height: 24px;
    margin: 5px auto;

    font-size: 14px;
    border: 1px solid;
    border-radius: 20px;

    -webkit-transition: color .5s, background-color .5s;
    transition: color .5s, background-color .5s;
}

main .cart li.separator {
    width: 150px;
    
    margin: 0 auto 20px;
    border-bottom: 1px solid #777777;
}

main .cart li .finalize {
    color: #89E215;
    border-color: #89E215;
}

main .cart li .finalize:hover {
    color: #FFFFFF;
    background-color: #89E215;
}

main .cart li .cancel {
    color: #FF3B3B;
    border-color: #FF3B3B;
}

main .cart li .cancel:hover {
    color: #FFFFFF;
    background-color: #FF3B3B;
}