<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barzinga">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.ProductsActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".view.OptionsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.IdentifyRfidActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".view.CheckoutActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".view.TransactionFinishedActivity"
            android:screenOrientation="landscape" >

        </activity>

        <activity
            android:name=".view.FinishedPurchaseActivity"
            android:screenOrientation="landscape" >

        </activity>
    </application>

</manifest>