<!doctype html>
<html ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Barzinga NOW!</title>

    <!-- <link rel="icon" href="img/icon.png"> -->

    <link href="web/styles/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script src="web/lib/angular.js"></script>
    <script src="web/lib/angular-route.js"></script>
    <script src="web/lib/jquery.js"></script>

    <script src="web/app/app.js"></script>
    
    <script src="web/app/services/product.js"></script>
    <script src="web/app/services/user.js"></script>

    <script src="web/app/controllers/home.js"></script>
    <script src="web/app/controllers/header.js"></script>
    <script src="web/app/controllers/sidemenu.js"></script>
    <script src="web/app/controllers/product.js"></script>
    <script src="web/app/controllers/product_new.js"></script>

</head>

<body>
    <header ng-controller="HeaderCtrl">
        <img class="logo" src="web/images/logo-barzinga.png">
        <div class="user-container">
            <div class="money">
                BZG <span>{{ (user.money || 0) | currency : '' : 2  }}</span>
            </div>
            <div class="avatar">
                <img src="#" alt="">
            </div>
        </div>
    </header>
    <nav ng-controller="SideMenuCtrl">
        <ul>
            <li><a ng-click="openPageProduct($event)" class="add-product" href="javascript:;">CADASTRAR PRODUTO</a></li>
            <li><a ng-click="selectCategory('bebidas', $event)" class="bebidas" href="javascript:;">Bebidas</a></li>
            <li><a ng-click="selectCategory('doces', $event)" class="doces" href="javascript:;">Doces</a></li>
            <li><a ng-click="selectCategory('naturebas', $event)" class="naturebas" href="javascript:;">Naturebas</a></li>
            <li><a ng-click="selectCategory('salgados', $event)" class="salgados" href="javascript:;">Salgados</a></li>
        </ul>
        <div class="nav-arrow"></div>
    </nav>
    <main ng-view></main>
    <modal></modal>
</body>
</html>