<!doctype html>
<html ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Barzinga NOW!</title>

    <!-- <link rel="icon" href="img/icon.png"> -->

    <link href="web/styles/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script src="web/lib/jquery.js"></script>
    <script src="web/lib/angular.js"></script>
    <script src="web/lib/angular-route.js"></script>

    <script src="web/app/utils/array.js"></script>

    <script src="web/app/app.js"></script>

    <script src="web/app/services/credit.js"></script>
    <script src="web/app/services/product.js"></script>
    <script src="web/app/services/user.js"></script>
    <script src="web/app/services/transaction.js"></script>

    <script src="web/app/controllers/credit.js"></script>
    <script src="web/app/controllers/home.js"></script>
    <script src="web/app/controllers/header.js"></script>
    <script src="web/app/controllers/sidemenu.js"></script>
    <script src="web/app/controllers/product.js"></script>
    <script src="web/app/controllers/product_new.js"></script>

</head>

<body ng-controller="HomeCtrl">
    <div ng-if="alert.visible" class="alert alert-{{ alert.type }}">{{ alert.message }}</div>
    <header ng-controller="HeaderCtrl">
        <img ng-click="goHome()" class="logo" src="web/images/logo-barzinga.png">
        <div class="user-container">
            <div class="money">
                BZG <span>{{ (user.money || 0) | currency : '' : 2  }}</span>
            </div>
            <div class="avatar">
                <img src="#" alt="">
            </div>
        </div>
    </header>
    <nav ng-controller="SideMenuCtrl">
        <ul>
            <div ng-if="user.admin">
                <li><a ng-click="openPageProduct($event)" class="add-product" href="javascript:;">CADASTRAR PRODUTO</a></li>
                <li><a ng-click="openPageCredit($event)" class="add-product" href="javascript:;">INCLUIR BARZINGAS</a></li>
            </div>
            <li><a ng-click="selectCategory('BEBIDAS', $event)" class="bebidas" href="javascript:;">Bebidas</a></li>
            <li><a ng-click="selectCategory('DOCES', $event)" class="doces" href="javascript:;">Doces</a></li>
            <li><a ng-click="selectCategory('NATUREBAS', $event)" class="naturebas" href="javascript:;">Naturebas</a></li>
            <li><a ng-click="selectCategory('SALGADOS', $event)" class="salgados" href="javascript:;">Salgados</a></li>
        </ul>
        <div class="nav-arrow"></div>
    </nav>
    <main ng-view></main>
</body>
</html>
