# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
Flask
Flask-Principal
Flask-Excel
flask-cors
urllib3[secure]
urlfetch
httplib2==0.9.2
apiclient==1.0.2
oauth2client==3.0.0
requests
idna
requests-toolbelt
GoogleAppEngineCloudStorageClient
