<ul class="products">
    <li ng-repeat="product in products" ng-click="addProductToCart(product)">
        <a class="product-image" href="javascript:;">
            <img src="{{ product.image_url }}" alt="">
        </a>
        <div class="product-description">
            {{ product.description }}
        </div>
        <div class="product-price">
            BZG <span>{{ product.price | currency : '' : 2 }}</span>
        </div>
        <div class="product-quantity">
            Qtde. Dispon&iacute;vel <span>{{ product.quantity }}</span>
        </div>
    </li>
</ul>
<ul class="cart" ng-if="selectedProducts.length">
    <li class="product-item" ng-repeat="product in selectedProducts" ng-click="removeProductFromCart(product)">
        <span class="quantity">{{ product.quantity }}x</span>
        <span class="description">{{ product.description }}</span>
    </li>
    <li class="total"><span>Total</span> <span>{{ cartTotal | currency : '' : 2 }} BZG</span></li>
    <li class="separator"></li>
    <li><a ng-click="finalize()" href="javascript:;" class="finalize">FINALIZAR COMPRA</a></li>
    <li><a ng-click="cleaningCart()" href="javascript:;" class="cancel">CANCELAR COMPRA</a></li>
</ul>