<nav>
    <ul>
        <li><a ng-click="selectCategory('bebidas', $event)" class="bebidas" href="javascript:;">Bebidas</a></li>
        <li><a ng-click="selectCategory('doces', $event)" class="doces" href="javascript:;">Doces</a></li>
        <li><a ng-click="selectCategory('naturebas', $event)" class="naturebas" href="javascript:;">Naturebas</a></li>
        <li><a ng-click="selectCategory('salgados', $event)" class="salgados" href="javascript:;">Salgados</a></li>
    </ul>
    <div class="nav-arrow"></div>
</nav>
<main>
    <ul class="products">
        <li ng-repeat="product in products">
            <a class="product-image" href="javascript:;">
                <img src="web/images/teste.png" alt="">
            </a>
            <div class="product-description">
                {{ product.description }}
            </div>
            <div class="product-price">
                BZG <span>{{ product.price | currency : '' : 2}}</span>
            </div>
            <div class="product-quantity">
                Qtde. <span>{{ product.quantity }}</span>
            </div>
        </li>
    </ul>
</main>