<div class="form-product">
    <ul>
        <li class="product-image">
            <div ng-click="addImage()">
                <div class="add-image">
                    <img class="icon-camera" src="web/images/icone-camera.png" alt="">
                    <div>CLIQUE AQUI PARA ADICIONAR A IMAGEM</div>
                </div>
                <img class="new-image" src="#" alt="">
            </div>
            <input class="hidden" type="file">
        </li>
        <li class="product-description"><label for="">Nome do produto</label><input type="text" ng-model="product.description"></li>
        <li class="product-category"><label for="">Categoria</label>
            <select ng-model="product.category">
                <option value="">--</option>
                <option value="">BEBIDAS</option>
                <option value="">DOCES</option>
                <option value="">NATUREBAS</option>
                <option value="">SALGADOS</option>
            </select>
        </li>
        <li class="product-price"><label for="">BZG</label><input type="number" ng-model="product.price"></li>
        <li class="product-quantity"><label for="">Quantidade</label><input type="number" ng-model="product.quantity"></li>
    </ul>
    <input type="button" class="btn-confirm" value="CADASTRAR PRODUTO" ng-click="new()"/>
</div>